<div class="ball">
  <h1>League of Cool Kickball Professionals</h1>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/app.js" type="text/javascript" charset="utf-8"></script>
















