<!Doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <nav>
      <ul>
        <li>
          <a href="<%= "/" %> "><div class="brand">LACKP</div></a>
        </li>
        <li>
          <a href="<%= "/teams" %> ">Teams</a>
        </li>
        <li>
          <a href="#">Players</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
